---
layout: default
title: Home
description: I love spending time solving problems around me.
featured_image:
---

<section class="intro">

	<div class="wrap">

		<h4>Hi, I am Anup.</h4>
		<p>I'm a PhD student at the University of Chicago working with <a style="text-decoration: underline;" href="https://www.ken-nakagaki.com">Dr. Ken Nakagaki</a>. I'm currently exploring my interests in slow technology and critical making. My research is fueled by my rage towards the current state of the attention economy.</p>
		<!-- <p>When I'm not writing website bios, I'm probably <a style="text-decoration:underline;" href="https://anupsathyaumd.notion.site/anupsathyaumd/575f2cea9754415396b9cabe33cbe0eb?v=65cefe1d202f4bcda46de6f06348d57d">reading</a>, driving a <a style="text-decoration:underline;" href="/fun/racingsim">racing sim</a>, hanging off an indoor boulder, or <a style="text-decoration:underline;" href="/fun/piano">learning</a> a new musical instrument. </p> -->
		<p>I've thoroughly excused myself from social media (explanation above) so please feel free to reach out to me at anups [at] uchicago [dot] edu.</p>
		<p style="font-size: 11px"><a style="text-decoration: underline;" href="https://anupsathya.com/files/Anup_CV.pdf">CV</a> &nbsp;&nbsp;|&nbsp;&nbsp; <a style="text-decoration: underline;" href="https://scholar.google.com/citations?user=ObQ1GWsAAAAJ&hl=en">Google Scholar.</a></p>
	</div>

</section>

<section class="portfolio mt">

	<div class="wrap">
		<h4>Selected Work</h4>

		<div style="margin-top: 1rem;">


<!-- 			<div class="portfolio-item" style="margin-top:1.8rem;">

				<div class="row">
					<div class="col-md-3">
						<img class="flex-auto" src="/images/calico/TeaserImage2.png">
					</div>
					<div class="col-md-9">
						<div class="venue">Proceedings of the ACM on Interactive, Mobile, Wearable and Ubiquitous Technologies (UbiComp 2022)</div>
						<h6 class="publication-title">Calico: Track Based Interactive and Relocatable Wearables with Fast, Reliable, and Precise Locomotion</h6>
						<div class="authors"><strong>Anup Sathya</strong>, Jiasheng Li, Tauhidur Rahman, Huaishu Peng</div>
					</div>
				</div>
			</div> -->

			{% for publication in site.publications reversed %}

		<!-- <div class="portfolio-item">

			<a class="portfolio-item__link" href="{{ publication.url }}">

				<div class="portfolio-item__image">
					<img src="{{ publication.featured_image  }}" alt="{{ publication.title }}">
				</div>

				<div class="portfolio-item__content">
					<div class="portfolio-item__info">
						<h2 class="portfolio-item__title">{{ publication.title }}</h2>
						<p class="portfolio-item__subtitle">{{ publication.subtitle }}</p>
					</div>
				</div>

			</a>

		</div> -->

		<div class="portfolio-item" style="margin-top:1.8rem;">
			
			<div class="row">
				<div class="col-md-3">
					<img class="flex-auto" src="{{ publication.featured_image }}">
				</div>
				<div class="col-md-9">
					<div class="venue">{{ publication.venue }}</div>
					<h6 class="publication-title"><a class="publication-link" href="{{ publication.url }}">{{ publication.title }}</a></h6>
					<div class="authors">{{ publication.authors }}</div>
					<p class="links">
						{% if publication.doi %}<a style="text-decoration:underline;" href="{{ publication.doi }}">DOI</a>{% endif %} {% if publication.pdf %}| <a style="text-decoration:underline;" href="{{ publication.pdf }}">PDF</a>{% endif %}
					</p>
				</div>
			</div>
		</div>

		{% endfor %}

		<div class="portfolio-item" style="margin-top:1.8rem; margin-bottom: 3rem;">
			
			<div class="row">
				<div class="col-md-3">
					<img class="flex-auto" src="/images/graph.png">
				</div>
				<div class="col-md-9">
					<div class="venue">In Proceedings of IEEE TENCON 2017</div>
					<h6 class="publication-title"><a class="publication-link" href="https://doi.org/10.1109/TENCON.2017.8228008">Visual Positioning System for Automated Indoor/Outdoor Navigation</a></h6>
					<div class="authors"><strong>Anup Sathya</strong>, Abhinav Goel, Suresh Padmanabhan</div>
					<p class="links">
						<a style="text-decoration:underline;" href="https://doi.org/10.1109/TENCON.2017.8228008">DOI</a>
					</p>
				</div>
			</div>
		</div>

	</div>

	<h4 class="mt">Fun Stuff</h4>

	<div class="row mt">
		{% for fun in site.fun reversed %}
		<div class="grid-item col-sm-3">
			<a href="{{ fun.url }}">
				<img class="grid-thumbnail" src="{{ fun.featured_image }}">
				<p class="grid-item-title">{{ fun.title }}</p>
				<p class="grid-item-subtitle">{{ fun.subtitle }}</p>
			</a>

		</div>
		{% endfor %}
	</div>

	<h4 class="mt">UX Research</h4>

	<div class="row mt">
		{% for ux in site.ux reversed %}
		<div class="grid-item col-sm-3">
			<a href="{{ ux.url }}">
				<img class="grid-thumbnail" src="{{ ux.featured_image }}">
				<p class="grid-item-title">{{ ux.title }}</p>
				<p class="grid-item-subtitle">{{ ux.subtitle }}</p>
			</a>

		</div>
		{% endfor %}
	</div>


</div>

</section>
